<article>
      
    {% comment %} Hero starts  {% endcomment %}
    <section class="hero" id="home">
      {% block hero %}
      {% endblock %}
    </section>
    {% comment %} Hero ends  {% endcomment %}
    
    {% comment %} About Starts  {% endcomment %}

    <section class="about" id="about">
      {% block about %}
      {% endblock %}
    </section>

    {% comment %} About Ends  {% endcomment %}

    {% comment %} Service Starts  {% endcomment %}
    <section class="service" id="service">
      {% block service %}
      {% endblock %}
    </section>
    {% comment %} Service Ends  {% endcomment %}
    
    {% comment %} Poperty Starts  {% endcomment %}
    <section class="property" id="property">
      {% block property %}
      {% endblock %}
    </section>
    {% comment %} Poperty Ends  {% endcomment %}

    {% comment %} Features Starts  {% endcomment %}
    <section class="features">
      {% block features %}
      {% endblock %}
    </section>
    {% comment %} Features Ends  {% endcomment %}

    {% comment %} Blog Starts  {% endcomment %}
    <section class="blog" id="blog">
      {% block blog %}
      {% endblock %}
    </section>
    {% comment %} Blog Ends  {% endcomment %}
    {% comment %} CTA starts  {% endcomment %}
    <section class="cta">
      {% block cta %}
      {% endblock %}
    </section>
    {% comment %} CTA ends  {% endcomment %}
    
</article>